@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;

  background-color: rgba(185, 171, 247, 0.473);
  background-size: cover;
}
.inputGeneral {
  text-indent: 4%;
}
